<%- include('./partials/header.ejs') %>
<h2 class="night">Night</h2>
<center class="nightreport">
<p></p>
<p>How was your day?</p>
<p></p>
<form method="POST" action="/behavior/reportingnight">
    <table align="center">
        <tr align="center">
        <th>Date : <div class="register"><input type="date" name="date" value="<%= date %>" /></div></th>
        </tr>
        <tr align="center">
        <th>Time spent on sports and exercise(given as a decimal)<div class="register"><input type="text" name="sporttime" min="0" max="24"  required="true" value="<%= sporttime %>" /></div></th>
        </tr>
        <tr align="center">
        <th>Time spent on studying(given as a decimal) <div class="register"><input type="text" name="studytime" min="0" max="24"  required="true" value="<%= studytime %>"/></div></th>
        </tr>
        <tr align="center">
        <th>Regularity and quality of eating from 1-5<div class="register"><input type="text" name="eatregnqua" min="1" max="5" step="1" value="<%= eatregnqua %>" onchange="rangeinput.value=value"/></div>  <div class="register"><output id="rangeinput"></output></div></th>
        </tr>
        <tr align="center">
        <th>Mood From 1-5<div class="register"><input type="text" name="ngenericmood" min="1" max="5" step="1" value="<%= ngenericmood %>" onchange="rangevalue.value=value"/></div>  <div class="register"><output id="rangevalue"></output></div></th>
        </tr>
        <tr align="center"><th><input type="submit" value="Submit" /></th></tr>
    </table>
</form>
<p></p>
<div class="register"><form method="GET" action="/behavior/reporting"><input type="submit" value="Choose to report" /></form></div>
<div class="register"><form method="GET" action="/behavior/summary"><input type="submit" value="Summary"/></form></div>
<div class="mood"><form method="GET" action="/landing"><input type="submit" value="Landing page" /></form></div>
</center>
<div id="loggedin">Logged in as <%= email %></div>
<form id="logout" method="GET" action="/auth/logout"><input type="submit" value="Logout" /></form>
<%- include('./partials/footer.ejs') %>